    @import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: orange;
    font-family: 'Carter One', cursive;
}
nav {
    position: fixed;
    height: 80px;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    background: black;
    width: 100%;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

input.src{
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: white;
    border: 3px solid black;
    background: black url(img/search-icon.png) no-repeat 9px center;
    width: 60px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

input.src:hover{
    width: 300px;
    background-color: black;
    border-color: black;
    box-shadow: 0 0 5px black;

}

.logo {
    background: url(img/tit.png) no-repeat 50% 50%;
    background-size: contain;
    width: 240px;
    height: 90px;
    float: left;
}

.menu{
    position: absolute;
    right: 20px;
}

.menu a{
    color: #333;
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
    transition: color 0.3s;
    text-transform: uppercase;
    font-size: 15px;
}

.menu a:hover{
    color: red;
}
h1 {
    width: 100%;
    height: 80px;
    margin-top: 80px;
    padding-top: 90px;
    padding-left: 20px;
    font-size: 35px;
    color: white;
 }

.btn {
    display: none;
    position: absolute;
    right: 20px;
}
.btn:hover > span {
    background-color: #E85860;
}
.btn span {
    display: block;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: #333;
}


p {
    padding: 5px 20px 20px 20px;
    font-size: 20px;
    text-align: justify;
    color: white;
}

  
img{
    display:  block;
    margin-left: auto;
    margin-right:auto;
    border: 10px solid whitesmoke;
    border-radius: 30px;
    padding: 0;
    width: 70%;
    
   
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-template-rows: minmax(10px auto);
    padding: 10px;
    border-radius: 50px;
}

.container div {
    background: red;
    padding: 2em;
    
}

.container div:hover {
    border: 2px solid rgb(56, 8, 8);
    align-items: center;
    border-radius: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    align-items: left;
    text-align: center;
    font-family: arial;
    border-radius: 50px;
}
  
.price {
    color: black;
    font-size: 22px;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;

}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 6px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: black;
}
  
footer{
    position: absolute;
    padding: 1px;
    left: 35%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.footer__social{
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap;
    max-width: 100%;
}

.footer__link{
    width: 60px;
    height: 60px;
    border-radius: 60%;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;
}

.footer__icon{
    width: 50px;
    background-color: white;
}



@media only screen and (max-width: 550px){
    body{
        background-image: url(img/cel.jpg);
        background-repeat: repeat;
        background-size: 700px 700px;
        max-width: 95%;

    }

    nav {
        overflow: visible;
    }

    img {
        border: 2px solid whitesmoke;
        border-radius: 10px;
        padding: 0;
        width: 80%;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em;
        grid-template-rows: minmax(50px auto);
        padding: 10px;
        margin:10px;
    }

    .container div {
        background: #6430a7;
        padding: 1em;
    }

    .container div:hover {
        border: 2px solid rgb(42, 16, 90);
    }

    .menu {
        width: 100%;
        right: 0;
        top: 80px;
        background: #f1f1f1E6;
        overflow: hidden;
        max-height: 0;
    }

    .menu a{
        display: block;
        text-align: center;
        padding: 5px;
        margin: 0;
        font-size: 15px;
    }

    p {
        padding: 5px 10px 10px 35px;
        font-size: 20px;
        max-width: 100%;
        color: white;
    }

    .btn {
        display: block;
        cursor: pointer;
    }

    .show {
        max-height: 200px;
    }

    footer{
        position: absolute;
        padding: 1px;
        left: 1%;
        width: 97%;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }

    .footer__social{
        padding-top: 50px;
        max-width: 100%;
    }

    .fts{
        font-size: 18px;
    }
    
    ç
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 10px;
        margin: auto;
        text-align: center;
        font-family: arial;
      }
      
      .price {
        color: grey;
        font-size: 22px;
      }
      
      .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
      }
      
      .card button:hover {
        opacity: 0.7;
      }
}
